$header-height: 40px;
$toolbar-height: 50px;
$formula-height: 30px;
$border-color: #c0c0c0;
$border-color-focus: blue;
$info-cell-width: 40px;
$row-height: 24px;
$cell-width: 120px;
$db-header-height: 64px;
