@import "variables";
@import "mixins";

.excel__toolbar {
  @include block();
  top: $header-height;
  padding: 7px 10px;
  height: $toolbar-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .button {
    @include button(green)
  }
}
